.column {
    padding: 1rem;
    height: 100vh;
    background-color: lightgray;
    border: 2px;
    border-color: black;
}
.column-name {
    font-size: 3rem;
}

.column-btn {
    font-size: 1rem;
}